body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: lightgray;
}

h1 {
    color: #333;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header h1 {
    border-bottom: black solid 1px;
}

.sprint-target {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    padding-top: 1px;
    margin-top: 10px;
    padding-bottom: 1px;
}

.sprint-header {
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sprint-header ul {
    list-style-type: none;
    margin: 0px;
}

.description {
    background-color: lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

#main-menu,
#ingame-ui {
    width: 50%;
}

#main-menu {
    border-radius: 5px 0 0 5px;
}

#ingame-ui {
    border-radius: 0 5px 5px 0;
}

#levelbar {
    border-radius: 5px 5px 0 0;
}

#options-btn {
    border-radius: 0 0 5px 5px;
}

#inventory-items {
    border-radius: 5px;
    max-height: 300px;
}